@page "/Manager/ManageMenu"

@using Repository.Repositories
@using Models
@using DataBaseAccess.Models

@inject Repository.Services.PizzaService pizzaService

<center>
    <h3>Manage Menu</h3>
    <br />
    <div class="box-shadow">
        <button type="button" class="btn btn-primary" @onclick="triggerDisplayInsertForm">Display Insert</button>
        <button type="button" class="btn btn-primary" @onclick="triggerDisplayMenu">Display Menu</button>
        <button type="button" class="btn btn-primary" @onclick="triggerDisplayDeletePizza">Display Delete</button>
        <button type="button" class="btn btn-primary" @onclick="triggerDisplayUpdateAvaliability">Display Update</button>
        <button type="button" class="btn btn-primary" @onclick="refresh">Refresh</button>
    </div>
</center>

@if (displayInsertForm)
{
    <h4>Insert New Pizza</h4>
    <center>
        <EditForm Model="@newPizza" OnValidSubmit="@InsertPizza">
            <div class="box-shadow">
                <div>Price:         <InputNumber id="price" @bind-Value="newPizza.price"/></div>
                <br />
                <div>Cost:          <InputNumber id="cost" @bind-Value="newPizza.cost"/></div>
                <br />
                <div>Availability:  <InputCheckbox id="availability" @bind-Value="newPizza.isAvailable"/></div>
                <br />
                <div>Type:          <InputText id="type" @bind-Value="newPizza.type"/></div>
                <br />
                <div>Size:          <InputNumber id="size" @bind-Value="newPizza.size"/></div>
                <br />
                <div>Points:        <InputNumber id="points" @bind-Value="newPizza.points"/></div>
            </div>
            <div class="box-shadow"> 
                <DataAnnotationsValidator/>
                <ValidationSummary/>  
            </div>
            <button type="submit" class="btn btn-primary">Insert</button>
        </EditForm>
    </center>
}
<center>
@if (displayDeletePizza)
{
    <h4>Delete Pizza</h4>

    <div class="box-shadow"> 
        <input type="number" @bind-value="deletePizzaId" @bind-value:event="oninput" />
        <button type="button" class="btn btn-primary" @onclick="deletePizza">Delete Pizza</button>
    </div>
}

@if (displayUpdateAvailability)
{
    <h4>Update Availability</h4>
    <div class="box-shadow"> 
        <div><p>Pizza Id:</p><input type="number" @bind-value="updatePizzaId" @bind-value:event="oninput" /></div>
        <div><p>Availability:</p><input type="checkbox" @bind-value="pizzaAvaliability" @bind-value:event="oninput" /></div>
        <button type="button" class="btn btn-primary" @onclick="UpdateAvailability">Update</button>
    </div>
}
 </center>

@if (displayMenu)
{
    <h4>Menu</h4>
    @if (menu is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="border-secondary">
            <center>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pizza Id</th>
                            <th>Price</th>
                            <th>Cost</th>
                            <th>Availability</th>
                            <th>Type</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in menu)
                        {
                            <tr>
                                <th>@item.IdPizza</th>
                                <th>@item.Price</th>
                                <th>@item.Cost</th>
                                <th>@item.IsAvailable</th>
                                <th>@item.Type</th>
                                <th>@item.Points</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </center>
        </div>
    }
}

@code 
{
    private bool displayInsertForm;
    private bool displayMenu;
    private bool displayDeletePizza;
    private bool displayUpdateAvailability;
    private bool pizzaAvaliability;
    private int deletePizzaId;
    private int updatePizzaId;
    private List<Pizza> menu;
    private PizzaFront newPizza = new PizzaFront();

    private async void refresh()
    {
        menu = await pizzaService.GetMenu();
        this.StateHasChanged();
    }

    protected override async Task OnParametersSetAsync() => menu = await pizzaService.GetMenu();

    private async void InsertPizza()
    {
        await pizzaService.AddNewPizza(newPizza.price, newPizza.cost, newPizza.isAvailable, newPizza.type, newPizza.size, newPizza.points);
        newPizza = new PizzaFront();
        //this.refresh();
    }

    protected void deletePizza()
    {
        pizzaService.DeletePizza(deletePizzaId);
        //this.refresh();
    }

    private void UpdateAvailability()
    {
        pizzaService.ChangePizzaAvailability(updatePizzaId, pizzaAvaliability);
        //this.refresh();
    }

    private void triggerDisplayInsertForm()
    {
        if (displayInsertForm == true)
            displayInsertForm = false;
        else
            displayInsertForm = true;
    }

    private void triggerDisplayMenu()
    {
        if (displayMenu == true)
            displayMenu = false;
        else
            displayMenu = true;
    }

    private void triggerDisplayUpdateAvaliability()
    {
        if (displayUpdateAvailability == true)
            displayUpdateAvailability = false;
        else
            displayUpdateAvailability = true;
    }

    private void triggerDisplayDeletePizza()
    {
        if (displayDeletePizza == true)
            displayDeletePizza = false;
        else
            displayDeletePizza = true;
    }
}